Repository NIPKaart/offstreet-parking: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, check-yaml, pylint, yamllint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ğŸ¶ Ruff Linter
        language: system
        types: [python]
        entry: poetry run ruff check --fix
        require_serial: true
        stages: [commit, push, manual]
      - id: ruff-format
        name: ğŸ¶ Ruff Formatter
        language: system
        types: [python]
        entry: poetry run ruff format
        require_serial: true
        stages: [commit, push, manual]
      - id: check-ast
        name: ğŸ Check Python AST
        language: system
        types: [python]
        entry: poetry run check-ast
      - id: check-case-conflict
        name: ğŸ”  Check for case conflicts
        language: system
        entry: poetry run check-case-conflict
      - id: check-docstring-first
        name: â„¹ï¸  Check docstring is first
        language: system
        types: [python]
        entry: poetry run check-docstring-first
      - id: check-json
        name: ï½› Check JSON files
        language: system
        types: [json]
        entry: poetry run check-json
      - id: check-merge-conflict
        name: ğŸ’¥ Check for merge conflicts
        language: system
        types: [text]
        entry: poetry run check-merge-conflict
      - id: check-toml
        name: âœ… Check TOML files
        language: system
        types: [toml]
        entry: poetry run check-toml
      - id: check-yaml
        name: âœ… Check YAML files
        language: system
        types: [yaml]
        entry: poetry run check-yaml
      - id: end-of-file-fixer
        name: â®  Fix End of Files
        language: system
        types: [text]
        entry: poetry run end-of-file-fixer
        stages: [commit, push, manual]
      - id: poetry
        name: ğŸ“œ Check pyproject with Poetry
        language: system
        entry: poetry check
        pass_filenames: false
        always_run: true
      - id: pylint
        name: ğŸŒŸ Starring code with pylint
        language: system
        types: [python]
        entry: poetry run pylint
      - id: trailing-whitespace
        name: âœ„  Trim Trailing Whitespace
        language: system
        types: [text]
        entry: poetry run trailing-whitespace-fixer
        stages: [commit, push, manual]
      - id: yamllint
        name: ğŸ— Check YAML files with yamllint
        language: system
        types: [yaml]
        entry: poetry run yamllint

Treat capacity and operator status as observations and drop long-stay values
  README.md
  app/cities/netherlands/amsterdam.py
  app/export.py
  app/observations.py
  app/records.py
  tests/test_catalog.py
  tests/test_collector.py
  tests/test_observations.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint

Drop accessible counts from both formats
  README.md
  app/cities/netherlands/amsterdam.py
  app/records.py
  tests/test_catalog.py
  tests/test_observations.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint

Require odp-amsterdam 7.1.0 for the garage status
  pyproject.toml
  uv.lock
Due: check-toml

Treat capacity and status as observations and drop long-stay and accessible counts (#670)
  README.md
  app/cities/netherlands/amsterdam.py
  app/export.py
  app/observations.py
  app/records.py
  pyproject.toml
  tests/test_catalog.py
  tests/test_collector.py
  tests/test_observations.py
  uv.lock
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, pylint

Note that core accepts both formats and fix the odp-amsterdam range
  README.md
Due: none

Move formats and operations out of the README into docs
  README.md
  docs/formats.md
  docs/operations.md
Due: none

Slim down the README and move formats and operations into docs (#671)
  README.md
  docs/formats.md
  docs/operations.md
Due: none

Document shared NIPKaart agent workflows
  AGENTS.md
Due: none

Clarify private skill access and local fallback
  AGENTS.md
Due: none

Document shared NIPKaart agent workflows (#682)
  AGENTS.md
Due: none

Route Amsterdam and Hamburg through the R2 collector
  Dockerfile
  README.md
  app/cities/germany/hamburg.py
  app/cities/netherlands/amsterdam.py
  app/datasets.py
  collector.py
  docs/formats.md
  docs/operations.md
  main.py
  pyproject.toml
  tests/test_hamburg.py
  tests/test_main.py
  uv.lock
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, pylint

Consume generic Hamburg source collections
  app/cities/germany/hamburg.py
  pyproject.toml
  tests/test_hamburg.py
  uv.lock
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, pylint

Pin shared Hamburg pagination implementation
  pyproject.toml
  uv.lock
Due: check-toml

Use published Hamburg 4.0.0 release
  Dockerfile
  README.md
  pyproject.toml
  uv.lock
Due: check-toml

Pin source packages to exact validated versions
  README.md
  pyproject.toml
  uv.lock
Due: check-toml

Keep README concise and move source details into docs
  README.md
  docs/operations.md
  docs/sources.md
Due: none

Route Amsterdam and Hamburg through the R2 collector (#683)
  README.md
  app/cities/germany/hamburg.py
  app/cities/netherlands/amsterdam.py
  app/datasets.py
  collector.py
  docs/formats.md
  docs/operations.md
  docs/sources.md
  main.py
  pyproject.toml
  tests/test_hamburg.py
  tests/test_main.py
  uv.lock
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, pylint
