Repository NIPKaart/offstreet-parking: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, blacken-docs, check-ast, check-docstring-first, check-json, check-toml, check-yaml, pylint, yamllint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ğŸ¶ Ruff
        language: system
        types: [python]
        entry: poetry run ruff --fix
        require_serial: true
        stages: [commit, push, manual]
      - id: black
        name: â˜•ï¸ Format using black
        language: system
        types: [python]
        entry: poetry run black
        require_serial: true
      - id: blacken-docs
        name: â˜•ï¸ Format documentation examples using black
        language: system
        files: '\.(rst|md|markdown|py|tex)$'
        entry: poetry run blacken-docs
        require_serial: true
      - id: check-ast
        name: ğŸ Check Python AST
        language: system
        types: [python]
        entry: poetry run check-ast
      - id: check-case-conflict
        name: ğŸ”  Check for case conflicts
        language: system
        entry: poetry run check-case-conflict
      - id: check-docstring-first
        name: â„¹ï¸  Check docstring is first
        language: system
        types: [python]
        entry: poetry run check-docstring-first
      - id: check-json
        name: ï½› Check JSON files
        language: system
        types: [json]
        entry: poetry run check-json
      - id: check-merge-conflict
        name: ğŸ’¥ Check for merge conflicts
        language: system
        types: [text]
        entry: poetry run check-merge-conflict
      - id: check-toml
        name: âœ… Check TOML files
        language: system
        types: [toml]
        entry: poetry run check-toml
      - id: check-yaml
        name: âœ… Check YAML files
        language: system
        types: [yaml]
        entry: poetry run check-yaml
      - id: end-of-file-fixer
        name: â®  Fix End of Files
        language: system
        types: [text]
        entry: poetry run end-of-file-fixer
        stages: [commit, push, manual]
      - id: poetry
        name: ğŸ“œ Check pyproject with Poetry
        language: system
        entry: poetry check
        pass_filenames: false
        always_run: true
      - id: pylint
        name: ğŸŒŸ Starring code with pylint
        language: system
        types: [python]
        entry: poetry run pylint
      - id: trailing-whitespace
        name: âœ„  Trim Trailing Whitespace
        language: system
        types: [text]
        entry: poetry run trailing-whitespace-fixer
        stages: [commit, push, manual]
      - id: yamllint
        name: ğŸ— Check YAML files with yamllint
        language: system
        types: [yaml]
        entry: poetry run yamllint

Change bulk parameter to limit
  app/cities/germany/hamburg.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, pylint

🔄 synced local '.gitignore' with remote 'nipkaart/.gitignore'
  .gitignore
Due: none

🔄 synced local '.github/' with remote 'github/'
  .github/FUNDING.yml
  .github/workflows/lock.yaml
  .github/workflows/stale.yaml
Due: check-yaml, yamllint

Update code for new ruff version
  app/cities/germany/hamburg.py
  app/cities/netherlands/amsterdam.py
  app/database/__init__.py
  app/helpers/__init__.py
  main.py
  pyproject.toml
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-toml, pylint

Replace black for ruff format
  .github/workflows/linting.yaml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml, yamllint

Replace black for ruff format (#459)
  .github/workflows/linting.yaml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml, yamllint

🔄 synced file(s) with klaasnicolaas/github-config (#458)
  .github/FUNDING.yml
  .github/workflows/lock.yaml
  .github/workflows/stale.yaml
  .gitignore
Due: check-yaml, yamllint

🎆Updates maintenance/license year to 2024
  LICENSE
  README.md
Due: blacken-docs

🎆Updates maintenance/license year to 2024 (#460)
  LICENSE
  README.md
Due: blacken-docs

Update dependency versions for hamburg and pytz
  poetry.lock
  pyproject.toml
Due: check-toml

🔄 synced local '.github/' with remote 'github/'
  .github/workflows/lock.yaml
Due: check-yaml, yamllint

🔄 synced local '.github/' with remote 'github/' (#472)
  .github/workflows/lock.yaml
Due: check-yaml, yamllint

🔄 synced local '.github/' with remote 'github/'
  .github/release-drafter.yml
  .github/workflows/pr-labels.yaml
  .github/workflows/sync-labels.yaml
Due: check-yaml, yamllint

🔄 synced local '.github/' with remote 'github/'
  .github/release-drafter.yml
  .github/workflows/lock.yaml
  .github/workflows/pr-labels.yaml
  .github/workflows/stale.yaml
  .github/workflows/sync-labels.yaml
Due: check-yaml, yamllint

Remove old labels file
  .github/workflows/labels.yaml
Due: check-yaml, yamllint

🔄 synced file(s) with klaasnicolaas/github-config (#505)
  .github/release-drafter.yml
  .github/workflows/lock.yaml
  .github/workflows/pr-labels.yaml
  .github/workflows/stale.yaml
  .github/workflows/sync-labels.yaml
Due: check-yaml, yamllint

Use Poetry in non-package mode
  pyproject.toml
Due: check-toml

Use Poetry in non-package mode (#511)
  pyproject.toml
Due: check-toml

🔄 synced local '.github/' with remote 'github/'
  .github/workflows/pr-labels.yaml
  .github/workflows/sync-labels.yaml
Due: check-yaml, yamllint

Prepare offstreet collector tooling and isolate legacy writes
  .dockerignore
  .env.example
  .github/renovate.json
  .github/workflows/linting.yaml
  .pre-commit-config.yaml
  Dockerfile
  README.md
  app/cities/__init__.py
  app/cities/germany/hamburg.py
  app/cities/netherlands/amsterdam.py
  main.py
  poetry.lock
  pyproject.toml
  tests/__init__.py
  tests/test_main.py
  uv.lock
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-json, check-toml, check-yaml, pylint, yamllint

Remove SQL runtime and keep only source inspection
  .env.example
  Dockerfile
  README.md
  app/cities/__init__.py
  app/cities/germany/hamburg.py
  app/cities/netherlands/amsterdam.py
  app/database/__init__.py
  app/helpers/__init__.py
  deploy/amsterdam.yml
  deploy/hamburg.yml
  docker-compose.yml
  main.py
  pyproject.toml
  tests/test_main.py
  uv.lock
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-toml, check-yaml, pylint, yamllint

Run behavior tests in a dedicated workflow
  .github/workflows/linting.yaml
  .github/workflows/tests.yaml
Due: check-yaml, yamllint

Keep behavior tests out of pre-commit hooks
  .pre-commit-config.yaml
Due: check-yaml, yamllint

Use Python 3.14 across development, CI and Docker
  .github/workflows/linting.yaml
  .github/workflows/tests.yaml
  Dockerfile
  README.md
  main.py
  pyproject.toml
  uv.lock
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-toml, check-yaml, pylint, yamllint

Prepare repository for the offstreet collector (#663)
  .dockerignore
  .env.example
  .github/renovate.json
  .github/workflows/linting.yaml
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  Dockerfile
  README.md
  app/cities/__init__.py
  app/cities/germany/hamburg.py
  app/cities/netherlands/amsterdam.py
  app/database/__init__.py
  app/helpers/__init__.py
  deploy/amsterdam.yml
  deploy/hamburg.yml
  docker-compose.yml
  main.py
  poetry.lock
  pyproject.toml
  tests/__init__.py
  tests/test_main.py
  uv.lock
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-json, check-toml, check-yaml, pylint, yamllint

Prepare Amsterdam offstreet catalog delivery
  .env.example
  README.md
  app/cities/netherlands/amsterdam.py
  app/datasets.py
  app/export.py
  app/records.py
  collector.py
  compose.yaml
  export.py
  pyproject.toml
  scheduler.py
  tests/test_catalog.py
  tests/test_collector.py
  tests/test_scheduler.py
  uv.lock
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-toml, check-yaml, pylint, yamllint

Use released Amsterdam package 7.0.1
  README.md
  pyproject.toml
  uv.lock
Due: blacken-docs, check-toml

Use SHA-256 for the R2 upload checksum
  README.md
  collector.py
  tests/test_collector.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, pylint

Export dated Amsterdam availability and preserve readable facility names
  README.md
  app/cities/netherlands/amsterdam.py
  app/datasets.py
  app/export.py
  app/observations.py
  app/records.py
  export.py
  pyproject.toml
  tests/test_catalog.py
  tests/test_observations.py
  uv.lock
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-toml, pylint

Use Amsterdam package fix for duplicate legacy facility numbers
  README.md
  pyproject.toml
  uv.lock
Due: blacken-docs, check-toml

Use released Amsterdam package 7.0.2
  README.md
  pyproject.toml
  uv.lock
Due: blacken-docs, check-toml

Expose grouped parking occupancy in collector records
  README.md
  app/cities/netherlands/amsterdam.py
  app/records.py
  tests/test_catalog.py
  tests/test_observations.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, pylint

Deliver live observations separately from the daily catalog
  .env.example
  README.md
  app/cities/netherlands/amsterdam.py
  app/observations.py
  app/records.py
  collector.py
  compose.yaml
  tests/test_catalog.py
  tests/test_collector.py
  tests/test_observations.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-yaml, pylint, yamllint

Simplify the offstreet collector contract and observation delivery
  .env.example
  README.md
  app/cities/netherlands/amsterdam.py
  app/datasets.py
  app/export.py
  app/observations.py
  app/records.py
  collector.py
  compose.yaml
  export.py
  tests/test_catalog.py
  tests/test_collector.py
  tests/test_observations.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-yaml, pylint, yamllint

Treat Amsterdam zero-capacity placeholders as unknown
  README.md
  app/cities/netherlands/amsterdam.py
  tests/test_catalog.py
  tests/test_observations.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, pylint

Document R2 retention rules and deliver to the shared imports bucket
  .env.example
  README.md
Due: blacken-docs

Reuse the municipal collector token for offstreet uploads
  README.md
Due: blacken-docs

Deliver Amsterdam offstreet catalog and live observations to private R2 (#664)
  .env.example
  README.md
  app/cities/netherlands/amsterdam.py
  app/datasets.py
  app/export.py
  app/observations.py
  app/records.py
  collector.py
  compose.yaml
  export.py
  pyproject.toml
  scheduler.py
  tests/test_catalog.py
  tests/test_collector.py
  tests/test_observations.py
  tests/test_scheduler.py
  uv.lock
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-toml, check-yaml, pylint, yamllint

Describe the source in every catalog delivery (nipkaart-offstreet-catalog-2)
  README.md
  app/datasets.py
  app/export.py
  tests/test_catalog.py
  tests/test_collector.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, pylint

Describe the source in every catalog delivery (nipkaart-offstreet-catalog-2) (#669)
  README.md
  app/datasets.py
  app/export.py
  tests/test_catalog.py
  tests/test_collector.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, pylint
